<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} - Mikrotik Script Generator</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ .Title }}</h1>
            {{ if .IsHomePage }}
                <p class="disclaimer">
                    This tool helps me reduce the time needed to configure Mikrotik devices. I do not collect any sensitive data. For your safety, you can use fake data when generating the script.
                    The source code is available on
                    <a href="https://github.com/dinhhuy258/mikrotik-script-generator" target="_blank" rel="noopener noreferrer">GitHub</a>.
                </p>
            {{ else }}
                <a href="/" class="back-link">← Back to Home</a>
            {{ end }}
        </header>

        <main>
          {{template "content" .}}
        </main>

        <footer>
            <p>&copy; 2024 Mikrotik Script Generator. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
