{{ define "content" }}
<div>
    {{ if .Error }}
        <div class="error-message">{{ .Error }}</div>
    {{ end }}
    <form action="/wireguard" method="POST" class="config-form" enctype="multipart/form-data" data-turbo-frame="mikrotik-script">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ .FormData.Name }}" required>
        </div>
        <div class="form-group">
            <label for="configFile">WireGuard Configuration File:</label>
            <input type="file" id="configFile" name="configFile" accept=".conf" required>
        </div>
        <div class="form-group">
            <label for="listenPort">Listen Port:</label>
            <input type="number" id="listenPort" name="listenPort" value="{{ .FormData.ListenPort }}" required min="1024" max="65535">
        </div>
        <div class="form-group">
            <label for="configType">Configuration Type:</label>
            <select id="configType" name="configType" required>
                <option value="routing_rule" {{ if eq .FormData.ConfigType "Routing rule" }}selected{{ end }}>Routing rule</option>
                <option value="mangle" {{ if eq .FormData.ConfigType "Mangle" }}selected{{ end }}>Mangle</option>
            </select>
        </div>
        <button type="submit" class="submit-btn">Generate Script</button>
    </form>
    <turbo-frame id="mikrotik-script">
      {{ if .MikrotikScript }}
      <div class="output-container">
          <h2>Generated Script:</h2>
          <textarea id="scriptOutput" readonly>{{ .MikrotikScript }}</textarea>
          <button id="copyButton" onclick="copyScript()" class="copy-btn">Copy to Clipboard</button>
      </div>
      <script>
          function copyScript() {
              var scriptOutput = document.getElementById('scriptOutput');
              scriptOutput.select();
              document.execCommand('copy');
              alert('Script copied to clipboard!');
          }
      </script>
      {{ end }}
    </turbo-frame>
</div>
{{ end }}
