# Create Wireguard interface
/interface wireguard
add name={{.Name}}-wireguard \
    private-key="{{.Wireguard.Interface.PrivateKey}}" \
    listen-port={{.ListenPort}} \
    mtu={{.Wireguard.Interface.MTU}}

# Add a peer
/interface wireguard peers
add name={{.Name}}-peer \
    interface={{.Name}}-wireguard \
    public-key="{{.Wireguard.Peer.PublicKey}}" \
    endpoint-address={{.Wireguard.Peer.EndpointHost}} \
    endpoint-port={{.Wireguard.Peer.EndpointPort}} \
    allowed-address=0.0.0.0/0,::/0 \
    preshared-key="{{.Wireguard.Peer.PresharedKey}}"

# Create address
/ip address
add interface={{.Name}}-wireguard address={{.Wireguard.Interface.Address}}

# Create routing table
/routing table
add disabled=no fib name={{.Name}}-wireguard

# Create route
/ip route
add disabled=no \
    dst-address=0.0.0.0/0 \
    gateway={{.Name}}-wireguard \
    routing-table={{.Name}}-wireguard \
    suppress-hw-offload=no

# Create NAT rule
/ip firewall nat
add chain=srcnat \
    out-interface={{.Name}}-wireguard \
    action=masquerade \
    comment="{{.Name}}'s Wireguard"

{{ if eq .ConfigType "mangle" }}
# Create address list
/ip firewall address-list
{{- range .Wireguard.Peer.AllowedIPs }}
add list={{$.Name}}-address-list address={{.}} comment="{{$.Name}}-wireguard allowed IP"
{{- end }}

# Create mangle firewall
/ip firewall mangle
add action=mark-routing \
    chain=prerouting \
    dst-address-list={{.Name}}-address-list \
    new-routing-mark={{.Name}}-wireguard \
    passthrough=no \
    comment="{{.Name}} Wireguard"
{{ else }}
# Create routing rule
{{- range .Wireguard.Peer.AllowedIPs }}
/routing rule
add action=lookup dst-address={{.}} table={{$.Name}}-wireguard
{{- end }}
{{ end }}
